#  Name of workflow
name: Lint workflow
# Trigger workflow on all pull requests
on:
    pull_request:
        branches:
            - dev
            - main
# Jobs to carry out
jobs:
    test:
        # Operating system to run job on
        runs-on: ubuntu-latest
        # Steps in job
        steps:
            # Get code from repo
            - uses: actions/checkout@v4
            # Install NodeJS
            - uses: actions/setup-node@v4
              with:
                node-version: 20
            # Build the app
            - run: npm install

            - run: npm run lint
